[tool.poetry]
name = "dynamicprompts"
version = "0.1.0"
description = "Dynamic prompts templating library for Stable Diffusion"
authors = ["Adi Eyal <adi@clearforest.io>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.7"
pyparsing = "^3.0.9"
requests = "^2.28.1"
tqdm = "^4.64.1"

[tool.poetry.group.dev.dependencies]
pytest = "^7.2.0"
black = "^22.12.0"


[tool.poetry.group.attentiongrabber.dependencies]
spacy = "^3.4.4"
en-core-web-sm = {url = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1.tar.gz"}

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
