name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pre-commit/action@v3.0.0
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          cache: "pip"
          cache-dependency-path: |
            poetry.lock
            pyproject.toml
      - run: python -m pip install mypy -e .[attentiongrabber,magicprompt]
      - run: mypy --install-types --non-interactive src
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: "3.7"  # minimum supported version
          cache: "pip"
          cache-dependency-path: |
            poetry.lock
            pyproject.toml
      - name: Install dependencies
        run: python -m pip install pytest-cov -e .[attentiongrabber,magicprompt]
      - run: pytest --cov --cov-report=term-missing .
        env:
          PYPARSINGENABLEALLWARNINGS: 1
